<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545561008604-tsuv15qmhje817cmaodtdun32m0aa16c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545561008604-tsuv15qmhje817cmaodtdun32m0aa16c</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEkdvolDeLEGdacHy_EI7ZKv0aVeYowM</string>
	<key>GCM_SENDER_ID</key>
	<string>545561008604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dataquest.mastermind</string>
	<key>PROJECT_ID</key>
	<string>mastermind-27cff</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-27cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545561008604:ios:ec4ab5cd3963f041035719</string>
</dict>
</plist>